<section class="d-flex flex-column justify-content-start align-items-start section mt-4 ml-lg-5">
  <div class="row mb-5">
    <div class="col-12 col-xl-8">
      <div class="info-section d-flex flex-column">
        <h1 class="text-color title display-4">We are here to exchange information, brainstorm and identify new technology on the JVM and
          educate the business community to the advantages of Java.</h1>
        <div class="d-flex flex-column mt-5">
          <div class="div-wrapper">
            <a class="btn btn-secondary btn-lg btn-block ajug-button h4" href="#join">Join the Community</a>
          </div>
          <div class="div-wrapper d-flex justify-content-center mt-md-3 p-2 ">
            <a class="meet-team-btn text-color h4" href=""><i><u>Meet the team</u></i></a>
            <!-- <button type="button" class="meet-team-btn text-color h5" data-toggle="modal" data-target=".team-modal"><i><u>Meet the team</u></i></button> -->
            <!-- <a class="meet-team-btn text-color h5" href="{{ "/team" | prepend: site.baseurl }}"><i><u>Meet the team</u></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sponsor">
    <div class="row">
      <div class="col-12">
        <h1 class="title display-4">Sponsors</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
      {% for row in site.data.sponsors %}
        <a href="{{row.site_link}}"><img class="sponsor-image img-fluid" alt="{{ row.sponsor }}" src="{{ row.sponsor_image_path }}"></a>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
