<section class="d-flex flex-column justify-content-start align-items-start section mt-4 ml-lg-5">
  <div class="row mb-5">
    <div class="col-12 col-xl-8">
      <div class="info-section d-flex flex-column">
        <h1 class="text-color title display-4">The Atlanta Java Users Group (AJUG) is a nonprofit organization with a mission to promote learning, exchange of information and discussion in our community on topics related to the Java programming language and platform. AJUG holds monthly meetings and welcomes all who which to attend and participate. AJUG also organizes an annual conference, https://devnexus.com/, which is the largest Java conference in the USA</h1>
        <div class="d-flex flex-column mt-5">
          <div class="div-wrapper">
            <a class="btn btn-secondary btn-lg btn-block ajug-button h4" href="#join">Join the Community</a>
          </div>
          <div class="div-wrapper">
            <a class="btn btn-secondary btn-lg btn-block meet-team-btn h4" href="">Meet the team</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-12">
        <h1 class="title display-4">Sponsors</h1>
      </div>
    </div>
    <div>
      {% for row in site.data.sponsors %}
        <a href="{{row.site_link}}"><img class="sponsor-image img-fluid" alt="{{ row.sponsor }}" src="{{ row.sponsor_image_path }}"></a>
      {% endfor %}
    </div>
  </div>
</section>
