<section id="contact" class="d-flex flex-column justify-content-center section">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-12 col-lg-8 order-2 order-lg-1 h-100">
      <div class="d-flex flex-column text-center justify-content-around h-100">
        <div>
          <h1>General Hello's</h1>
          <p>If you'd like to contact AJUG, reach out at info@ajug.org</p>
        </div>
        <div>
          <h1>Sponsorship</h1>
          <p>Interested in becoming and AJUG Sponsor? <a href="" class="ajug-link text-color-red"><u><i>Sponsor benefits inlcude</i></u></a></p>
        </div>
        <div>
          <h1>Want To Present?</h1>
          <p>If you would like to present at AJUG or have other suggestions, please contact he Program Chair at chair@ajug.org with <a href="" class="ajug-link text-color-red"><u><i>these details</i></u></a>.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 order-1 order-lg-2 h-50">
      <div class="d-flex flex-column justify-content-start h-100">
        <img class="img-fluid micro-phone-img" src="assets/img/ajug_microphone.png"/>
      </div>
    </div>
  </div>
</section>
