<section id="contact" class="d-flex flex-column justify-content-start section ml-lg-5">
    <!-- <div class="row justify-content-center align-items-center h-75">
      <div class="col-sm-12 col-md-6 order-2 order-md-1 h-100">
        <div class="d-flex flex-column text-center justify-content-around h-100">
          <div class="my-4">
            <h1>General Hello's</h1>
            <h5>If you'd like to contact AJUG, reach out at info@ajug.org</h4>
          </div>
          <div class="my-4">
            <h1>Sponsorship</h1>
            <h5>Interested in becoming and AJUG Sponsor? <a href="" class="ajug-link text-color sponsor-benefit-btn"><u><i>Sponsor benefits inlcude</i></u></a></h5>
          </div>
          <div class="my-4">
            <h1>Want To Present?</h1>
            <h5>If you would like to present at AJUG or have other suggestions, please contact he Program Chair at chair@ajug.org with <a href="" class="ajug-link text-color"><u><i>these details</i></u></a>.</h4>
          </div>
        </div>
      </div>
    </div> -->
    <h1 class="mt-3 mb-4 display-4">Contact</h1>
    <!-- <div class="col-sm-12 col-md-4 order-1 order-md-2">
      <div class="d-flex flex-column justify-content-start align-items-center remove-md-gutters">
        <img class="ajug-microphone-img" src="assets/img/ajug_microphone.png"/>
      </div>
    </div> -->
    <div class="contactCards ">
      <div class="card shadow">
        <!-- <img class="card-img-top" src="/assets/img/logo/ajug_logo.png" alt="Card image cap"> -->
        <div class="card-body">
          <h1 class="card-title">General Hello's</h1>
          <p class="h5 card-text">If you'd like to contact AJUG, reach out at <b>info@ajug.org.</b></p>
        </div>
      </div>
      <div class="card shadow">
        <!-- <img class="card-img-top" src="/assets/img/ajug_microphone.png" alt="Card image cap"> -->
        <div class="card-body">
          <h1 class="card-title">Sponsorship</h1>
          <p class="h5 card-text">Interested in becoming and AJUG Sponsor? 
            <a href="" class="ajug-link text-color-red sponsor-benefit-btn"><u><i>Sponsor benefits inlcude</i></u></a>
          </p>
        </div>
      </div>
      <div class="card shadow">
        <!-- <img class="card-img-top" src="/assets/img/ajug_microphone.png" alt="Card image cap"> -->
        <div class="card-body">
          <h1 class="card-title">Want To Present?</h1>
          <p class="h5 card-text">If you would like to present at AJUG or have other suggestions, please contact the Program Chair at chair@ajug.org with 
            <a href="" class="ajug-link text-color-red"><u><i>these details</i></u></a>.
          </p>
        </div>
      </div>
    </div>
</section>
