<section id="contact" class="d-flex flex-column justify-content-start section ml-lg-5">
    <h1 class="my-3 display-4">Contact</h1>
    <div class="contactCards ">
      <div class="card shadow">
        <!-- <img class="card-img-top" src="/assets/img/logo/ajug_logo.png" alt="Card image cap"> -->
        <div class="card-body">
          <h1 class="card-title">General Hello's</h1>
          <p class="h5 card-text">If you'd like to contact AJUG, reach out at <b>info@ajug.org.</b></p>
          <p class="h5 mt-3"><b>You can also follow us here:</b></p>
          <div class="d-flex flex-row justify-content-center">
            {% include socialLinks.html %}
          </div>
        </div>
      </div>
      <div class="card shadow">
        <!-- <img class="card-img-top" src="/assets/img/ajug_microphone.png" alt="Card image cap"> -->
        <div class="card-body">
          <h1 class="card-title">Sponsorship</h1>
          <p class="h5 card-text">Interested in becoming and AJUG Sponsor?
            <a href="" class="ajug-link text-color-red sponsor-benefit-btn"><u><i>Sponsor benefits inlcude</i></u></a>
          </p>
        </div>
      </div>
      <div class="card shadow">
        <!-- <img class="card-img-top" src="/assets/img/ajug_microphone.png" alt="Card image cap"> -->
        <div class="card-body">
          <h1 class="card-title">Want To Present?</h1>
          <p class="h5 card-text">If you would like to present at AJUG or have other suggestions, please contact he Program Chair at chair@ajug.org with
            <a href="" class="ajug-link text-color-red"><u><i>these details</i></u></a>.
          </p>
        </div>
      </div>
    </div>
</section>
