<section id="events" class="d-flex flex-column justify-content-start section ml-lg-5">
  <div class="row mt-3 mb-6">
    <div class="col-md-12 col-lg-8">
      <div class="d-flex flex-column">
        <h1 class="title mb-4 display-4">Events</h1>
        <div class="eventCards card shadow">
          <ul id="meetup-events" class="list-group list-group-flush">

          </ul>
        </div>
        <!-- <div>
          <div class="list-group">
            {% for post in site.posts limit:2 %}
              <div class="list-group-item flex-column align-items-start">
                <div class="h6">
                  {{ post.date | date: '%B %d, %Y' }}
                </div>
                <div class="d-flex justify-content-between">
                  <div class="h4">{{ post.title }}</div>
                </div>
                <a class="btn btn-secondary ajug-button">Reserve</a>
              </div>
            {% endfor %}
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="d-flex flex-column">
        <h1 class="title display-4">Social Updates</h1>
        <a class="h5">Follow us on Twitter at @atlantajug</a>
      </div>
    </div>
  </div> -->
</section>
