<div class="list-group-item d-flex flex-column flex-lg-row justify-content-between">
  <div class="eventDescription flex-column align-items-start">
    <div class="h6">
      {{ include.post.date | date: "date: "%-d %B %Y %R" }}
    </div>
    <div class="d-flex justify-content-between">
      <div class="h3">{{ include.post.title }}</div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center">
    <a href="{{ include.post.meetup_link }}" class="btn btn-secondary ajug-button">Details</a>
  </div>
</div>
