<section id="events" class="d-flex flex-column justify-content-start section ml-lg-5">
  <div class="row mt-3 mb-6">
    <div class="col-md-12 col-lg-8">
      <div class="d-flex flex-column">
        <h1 class="title mb-4 display-4">Events</h1>
        <div class="eventCards card shadow">
          <ul id="meetup-events" class="list-group list-group-flush">

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="d-flex flex-column">
        <h1 class="title display-4">Social Updates</h1>
        <a class="h5">Follow us on Twitter at @atlantajug</a>
      </div>
    </div>
  </div>
-->
</section>
<section id="socialnmedia" class="d-flex flex-column justify-content-start section ml-lg-5">
    <h1 class="my-3 display-4">Social and Media</h1>
    <div class="contactCards ">
      <div class="card shadow">
        <div class="card-body">
          <h1>Announcements</h1>
          <div class="d-flex flex-row justify-content-center">
            <a class="btn btn-secondary btn-lg btn-block ajug-button" href="{{site.data.cta.twitter}}">Follow @atlantajug on Twitter</a>
            <p>
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-body">
          <h1>Recorded Presentations</h1>
          <div class="d-flex flex-row justify-content-center">
            <a class="btn btn-secondary btn-lg btn-block ajug-button" href="https://www.recallact.com/ajug">Watch Now</a>
          </div>
        </div>
      </div>
    </div>
</section>
