<footer class="footer">
  <div class="container d-flex flex-row  justify-content-center">
    <div>
      <h5 class="text-center text-color">FOLLOW US</h5>
      <div class="d-flex flex-row">
        <div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
          <a href=""><i class="fa fa-twitter text-color-white" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
          <a href=""><i class="fa fa-linkedin text-color-white" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
          <a href=""><i class="fa fa-google-plus text-color-white" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
          <a href=""><i class="fa fa-facebook text-color-white" aria-hidden="true"></i></a>
        </div>
        <div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
          <a href=""><i class="fa fa-meetup text-color-white" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
