<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-shadow">
  <a class="navbar-brand p-0" href="{{'/'}}"><img class="img-fluid" width="56" src="assets/img/logo/ajug_logo.png"/></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end navbar-dropdown-background" id="navbarSupportedContent">
    <ul class="navbar-nav">
          
      {% for sections in site.data.sections %}
        {% if sections.show and sections.inHeader %}
          <li class="nav-item"><a class="text-color nav-link" href="#{{ sections.link }}">{{ sections.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
