<section id="join" class="d-flex flex-column justify-content-start section">
  <div class="row mt-lg-4 mb-5">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7">
      <div class="d-flex flex-column justify-content-around">
        <div class="remove-gutters">
          <img class="img-fluid ajug_becomemember_banner" src="/assets/img/ajug_becomemember_banner.png">
        </div>
      </div>
    </div>
  </div>
  <div class="row ml-lg-5">
    <div class="col-sm-12 col-md-8 col-lg-5">
      <div class="d-flex flex-column justify-content-around">
        <h1 class="title display-4">Become A Member</h1>
        <p class="h5">We provide an open access list for AJUG and Java-related topics. You must subscribe in order to post.
          Suitable content inlcudes only Java technical questions. Please respect your peers and use common sense when you post.
        </p>
        <br>
        <p class="h5">We are excited to get to know you!</p>
        <form action="https://ajug.us7.list-manage.com/subscribe/post?u=0b3b17489713c9e7c62595dd3&amp;id=76d1d9d977" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="input-group">
          <input type="text" value="" class="form-control no-radius-btn" name="FNAME" id="mce-FNAME" placeholder="First Name" aria-label="First Name">
          <input type="text" value="" class="form-control no-radius-btn" name="LNAME" id="mce-FNAME" placeholder="Last Name" aria-label="Last Name">
        </div>
        <br>
        <div class="input-group">
          <input type="email" value="" name="EMAIL" class="form-control no-radius-btn" id="mce-EMAIL" placeholder="Email Address" aria-label="Email Address">
        </div>
        <br>
        <div class="div-wrapper">
          <button type="submit" class="btn btn-secondary btn-lg btn-block ajug-button">Join the Community</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>
