<section id="join" class="d-flex flex-column justify-content-start section">
  <div class="row mt-lg-4 mb-5">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7">
      <div class="d-flex flex-column justify-content-around">
        <div class="remove-gutters">
          <img class="img-fluid ajug_becomemember_banner" src="/assets/img/ajug_becomemember_banner.png">
        </div>
      </div>
    </div>
  </div>
  <div class="row ml-lg-5">
    <div class="col-sm-12 col-md-8 col-lg-5">
      <div class="d-flex flex-column justify-content-around">
        <h1 class="title display-4">Become A Member</h1>
        <p class="h5">We provide an open access list for AJUG and Java-related topics. You must subscribe in order to post.
          Suitable content inlcudes only Java technical questions. Please respect your peers and use common sense when you post.
        </p>
        <br>
        <p class="h5">We are excited to get to know you!</p>
        <div class="input-group">
          <input type="text" class="form-control no-radius-btn" placeholder="Name" aria-label="Name">
        </div>
        <br>
        <div class="input-group">
          <input type="text" class="form-control no-radius-btn" placeholder="Email Address" aria-label="Email Address">
        </div>
        <br>
        <div class="div-wrapper">
          <a class="btn btn-secondary btn-lg btn-block ajug-button">Join the Community</a>
        </div>
      </div>
    </div>
  </div>
</section>
