<section id="resources" class="d-flex flex-column section">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-md-12 col-lg-7">
      <div class="d-flex flex-column">
        <h1 class="title">Resources</h1>
        <p>
          Java is a vast and changing landscape. The AJUG community has gathered reviews of useful books and links to useful websites.
          Feel free to suggest more on the ajug-member list.
        </p>
        <div>
          <ul class="list-group ajug-link-group">
            <li class="list-group-item ajug-link"><a class="h4" href="#resources"><u><em>Book Reviews</em></u></a></li>
            <li class="list-group-item ajug-link"><a class="h4" href="#resources"><u><em>Helpful Sites</em></u></a></li>
            <li class="list-group-item ajug-link"><a class="h4" href="#resources"><u><em>Our Blog</em></u></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
