<div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
  <a href="{{site.data.cta.twitter}}" target="_blank"><i class="fa fa-twitter text-color-white" aria-hidden="true"></i></a>
</div>
<div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
  <a href="{{site.data.cta.linkedin}}" target="_blank"><i class="fa fa-linkedin text-color-white" aria-hidden="true"></i></a>
</div>
<div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
  <a href="{{site.data.cta.googleplus}}" target="_blank"><i class="fa fa-google-plus text-color-white" aria-hidden="true"></i></a>
</div>
<div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
  <a href="{{site.data.cta.facebook}}" target="_blank"><i class="fa fa-facebook text-color-white" aria-hidden="true"></i></a>
</div>
<div class="icon-wrapper m-1 p-2 light-red-bg rounded-circle text-center shadow">
  <a href="{{site.data.cta.meetup}}" target="_blank"><i class="fa fa-meetup text-color-white" aria-hidden="true"></i></a>
</div>
