<div class="modal animated fade" tabindex="-1" role="dialog" aria-labelledby="sponsorBenefits" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-5 ">
      <section class="d-flex flex-column">
        <h1 class="my-4 text-color-red">SPONSORSHIP BENEFITS
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h1>
        <div id="benefit-list" class="team-description-acc" data-children=".item">

        </div>
      </section>
    </div>
  </div>
</div>
