<div class="modal animated slideInLeft team-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-5 ">
      <section class="d-flex flex-column">
        <h1 class="my-4">The Team
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h1>
        <div id="teamDescription" class="team-description-acc" data-children=".item">
          {% for team in site.data.team %}
            <div class="item">
              <a data-toggle="collapse" data-parent="#teamDescription" data-target="#{{ team.id }}" aria-expanded="false" aria-controls="{{ team.id }}">
                <div class="team-description-header my-4 text-color">
                  <span class="h5">{{ team.name }} - {{ team.role }}</span> <span id="{{ team.id }}Btn" class="arrow-button text-color-red float-right oi oi-caret-right"></span>
                </div>
              </a>
              <div id="{{ team.id }}" class="team-info collapse" role="tabpanel">
                <p class="h5 mx-4 ">
                  {{ team.info }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>
