<section id="team-page" class="d-flex flex-column hidden section animated">
  <h1>THE TEAM</h1>
  <div id="teamDescription" class="team-description-acc" data-children=".item">
  <div class="item">
    <a data-toggle="collapse" data-parent="#teamDescription" data-target="#president" aria-expanded="false" aria-controls="president">
      Pratik Patel - President <span id="presidentBtn" class="arrow-button float-right oi oi-caret-bottom"></span>
    </a>
    <div id="president" class="team-info collapse show" role="tabpanel">
      <p class="mb-3">
        Pratik Patel is the CTO of Atlanta based TripLingo. He wrote the first book on 'enterprise Java' in
        1996, "Java Database Programming with JDBC." He has also spoken at various conferences and participates in
        several local tech groups and startup groups.
      </p>
    </div>
  </div>
  <div class="item">
    <a data-toggle="collapse" data-parent="#teamDescription" data-target="#vicePresident" aria-expanded="false" aria-controls="vicePresident">
      Burk Hufnagel - Vice President <span id="vicePresidentBtn" class="arrow-button float-right oi oi-caret-right"></span>
    </a>
    <div id="vicePresident" class="team-info collapse" role="tabpanel">
      <p class="mb-3">
        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
  <div class="item">
    <a data-toggle="collapse" data-parent="#teamDescription" data-target="#treasurer" aria-expanded="false" aria-controls="treasurer">
      Vincent Mayers - Treasurer <span id="treasurerBtn" class="arrow-button float-right oi oi-caret-right"></span>
    </a>
    <div id="treasurer" class="team-info collapse" role="tabpanel">
      <p class="mb-3">
        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
  <div class="item">
    <a data-toggle="collapse" data-parent="#teamDescription" data-target="#secretary" aria-expanded="false" aria-controls="secretary">
      Glenn Renfro - Secretary <span id="secretaryBtn" class="arrow-button float-right oi oi-caret-right"></span>
    </a>
    <div id="secretary" class="team-info collapse" role="tabpanel">
      <p class="mb-3">
        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
  <div class="item">
    <a data-toggle="collapse" data-parent="#teamDescription" data-target="#teamDescription1" aria-expanded="false" aria-controls="teamDescription1">
      Bruce Petro <span id="teamDescription1Btn" class="arrow-button float-right oi oi-caret-right"></span>
    </a>
    <div id="teamDescription1" class="team-info collapse" role="tabpanel">
      <p class="mb-3">
        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
  <div class="item">
    <a data-toggle="collapse" data-parent="#teamDescription" data-target="#teamDescription2" aria-expanded="false" aria-controls="teamDescription2">
      Vincent Stoessel <span id="teamDescription2Btn" class="arrow-button float-right oi oi-caret-right"></span>
    </a>
    <div id="teamDescription2" class="team-info collapse" role="tabpanel">
      <p class="mb-3">
        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
</div>
</section>
