@import 'color';

.contactCards {
  .card {
    margin-bottom: 15px;
    border-radius: 0;
    border: 0;
    width: 100%;
    .card-img-top{
      border-radius: 0;
    }
    .icon-wrapper {
      width: 40px;
    }
  }
}
// @media (min-width: 576px){
//   .card-deck {
//     -ms-flex-flow: column wrap;
//     flex-flow: column wrap;
//     margin-right: -15px;
//     margin-left: -15px;
//     .card {
//       margin-bottom: 15px;
//     }
//   }
// }
// 
// @media(width:1024px) and (height:1366px ){  
//   .card-deck {
//     -ms-flex-flow: column !important;
//     flex-flow: column !important;
//     margin-right: -15px;
//     margin-left: -15px;
//     //width: 75%;
//     .card {
//       margin-bottom: 15px;
//     }
//   }
// }
// 
@media (min-width: 768px){
  .contactCards {
    width: 75%;
    align-self: center;
  }  
}

@media (min-width: 992px){
  .contactCards {
    .card {
      margin-bottom: 40px;
    }
    margin-left: -3rem;  
  }
}