@import 'color';

.navbar {
  background-color: white;
}

.navbar-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media (max-width: 991px) {
  .navbar-dropdown-background {
    background-color: $lighter-red;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -8px;
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    margin-top: 10px;
    .text-color {
      color: white !important;
    }
  }
}
