
@import 'color';

.sponsor-benefit-modal {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
      border: 0;
    }
  }
}

@media (max-width: 767px) {
  .sponsor-benefit-modal {
    .modal-dialog {
      margin:0;
      .modal-content {
      }
    }
  }
}