
@import 'color';

.team-modal {
  .modal-dialog {
    margin: 0;
    max-width: 100%;
    .modal-content {
      border-radius: 0;
      border: 0;
      background-color: $background-blue;
      height: 100vh;
    }
  }
}

@media (max-width: 767px) {
  .team-modal {
    .modal-dialog {
      margin: 10px;
      .modal-content {
        height: 100%;
      }
    }
  }
}