
@import 'color';

.team-modal {
  .modal-dialog {
    margin: 0;
    max-width: 100%;
    .modal-content {
      border-radius: 0;
      border: 0;
      background-color: $background-blue;
      min-height:100vh;
    }
  }
}

