---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
    font-family: DroidSerif;
    src: url('assets/fonts/droid-serif/DroidSerif-Regular.ttf');
}

$background-blue:#E9F5F9;
$text-color:#353A3A;
$lighter-red:#F04A1D;
$darker-red:#CD2E22;

body {
  background-color: $background-blue;
  font-family: DroidSerif, serif;
  .parallax {
    /* The image used */
    background-image: url("/assets/img/background/background-a-3.svg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.team-modal {
  .modal-dialog {
    margin: 0;
    max-width: 100%;
    .modal-content {
      border-radius: 0;
      border: 0;
      background-color: $background-blue;
      height: 100vh;
    }
  }
}

.navbar {
  background-color: white;
}

.navbar-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.a-logo {
  margin-top: 75px;
  z-index: -1;
  width: 100%;
}

.page-container{
  //padding-top: 70px;
}

.remove-gutters{
  margin-left: -15px;
  margin-right: -15px;
}

.mb-6{
  margin-bottom: 8rem !important;
}

.section {
  height:100vh;
  padding-top: 56px;
  //min-height: 650px;
  //padding-top: 4rem;
  //padding-bottom: 5rem !important;
  .h1 {
    font-size: 3.25rem;
  }
  .div-wrapper{
    width: 60%;
  }
}

.sponsor-image {
  height: 60px;
  width: 60px;
}

.ajug-microphone-img{
  width: 100%;
}

.team-description-header {
  border-bottom: solid;
}

@media (max-width: 575px) {
  .section {
    h1 {
      font-size: 2rem;
    }
    //padding-bottom: 1rem !important;
    .title {
      width: 100% !important;
    }
    .div-wrapper {
      width: 100% !important;
    }
  }
  .mb-6{
    margin-bottom: 5rem !important;
  }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .section {
    height: 100%;
  }
  .ajug-microphone-img{
    width: 100%;
    height: 150px;
  }
  .team-modal {
    .modal-dialog {
      margin: 10px;
      .modal-content {
        height: 100%;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .navbar-dropdown-background {
    background-color: $lighter-red;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -8px;
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    margin-top: 10px;
    .text-color {
      color: white !important;
    }
  }
  .remove-md-gutters{
    margin-left: -15px;
    margin-right: -15px;
  }
  .section {
    //height: 100%;
    //margin-bottom: 3rem;
  }
  .team-modal {
    .modal-dialog {
      //max-width: 75%;
      .modal-content {
      }
    }
  }
}

@media (min-width: 992px) {
  .team-modal {
    .modal-dialog {
      //max-width: 75%;
      .modal-content {
      }
    }
  }
}



// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}

.ajug-link {
  border: 0;
  background-color: transparent;
  a {
    color:$lighter-red !important;
  }
}


.ajug-button {
    border-radius: 0 !important;
    background-color: $lighter-red;
    color: white !important;
    border: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.text-color {
  color:$text-color !important;
}

.text-color-red {
  color:$lighter-red !important;
}

.no-border {
  border: 0 !important;
}

.no-radius-btn {
  border-radius: 0 !important;
}

.light-red-bg {
  background-color: $lighter-red;
  color: white !important;
}

.dark-red-bg {
  background-color: $darker-red;
}

